*{
    margin: 0px;
    padding: 0px;
}
.container{
    background-color: black;
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    


}
.logo-image{
    width: 150px;
}

